<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="top-nav">
    @if (auth.user()) {
    <button class="nav-button" (click)="auth.logout()" routerLink="/login">Logout</button>
    }
    @if (!auth.user()) {
    <button class="nav-button" routerLink="/login">Login</button>
    }
    <div class="nav-spacer"></div>
    @if (auth.user()) {
    <p class="nav-user">Logged as: {{ auth.user()?.displayName || auth.user()?.email }}</p>
    }
    @if (userData.role() === 'admin') {
    <a routerLink="/admin" class="nav-link">Admin Panel</a>
    }
    @if (auth.user()) {
    <a routerLink="/profile" class="profile-button" title="Profile"></a>
    }
  </nav>


  <router-outlet></router-outlet>
</body>

</html>